@mixin h1 {
    font-family: Kanit;
    font-style: normal;
    font-weight: 400;
    @include adaptiv-font(70, 49);
    line-height: 150%;
}

@mixin h2 {
    font-family: Kanit;
    font-style: normal;
    font-weight: 400;
    @include adaptiv-font(40, 30);
    line-height: 100%;
}

$maxWidth: 1536;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}