.header {
    max-height: 800px;
    .menu {
        position: relative;
        padding: 21px 0;
        height: 66px;
        z-index: 10;
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__logo {
            display: block;
        }
        &__nav {
            display: flex;
            align-items: center;
        }
        &__info {
            display: flex;
            @media (max-width: 659px) {
                margin-right: 66px;
            }
        }
        &__login {
            position: relative;
            margin-right: 92px;
            @media (max-width: 890px) {
                margin-right: 36px;
            }
            a {
                color: $black;
                font-size: 14px;
                font-weight: 400;
                @media (max-width: 890px) {
                    span {
                        display: none;
                    }
                }
                img {
                    display: none;
                    @media (max-width: 890px) {
                        display: block;
                        height: 24px;
                    }
                }
            }
            &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                top: 14px;
                right: -10px;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px solid $main-color;
                @media (max-width: 890px) {
                    display: none;
                }
            }
        }
        &__lang {
            position: relative;
            &::before {
                content: url(../icons/TH.svg);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 27px;
                @media (max-width: 890px) {
                    display: none;
                }
            }
            a {
                color: $gray;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                @media (max-width: 890px) {
                    span {
                        display: none;
                    }
                }
                img {
                    display: none;
                    @media (max-width: 890px) {
                        display: block;
                        height: 24px;
                    }
                }
            }
        }
    }
    .nav {
        list-style-type: none;
        @media (max-width: 659px) {
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            padding: 20px 15px;
            background-color: rgba(0, 0, 0, .8);
            transition: 0.6s all;
            &_active {
                left: 0
            }
        }
        &__item {
            margin-right: 4vw;
            &:last-child {
                margin: 0;
            }
            a {
                color: $black;
                font-size: 14px;
                font-weight: 400;
                &:hover {
                    text-decoration: none;
                    border-bottom: 2px solid $main-color;
                }
                @media (max-width: 659px) {
                    color: #fff;
                    font-size: 23px;
                }
            }
            @media (max-width: 659px) {
                padding-right: 0;
                border-right: none;
                margin: 10px 0;
            }
        }
    }
    .hamburger {
        display: none;
        @media (max-width: 659px) {
            display: block;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 26px;
            height: 24px; //чтобы корректно отрабатывали палочки при клике, 12 потому что 3*2px(height) + 3*2px(margin-bottom)
            span {
                display: block;
                margin-bottom: 8px;
                height: 2px;
                width: 100%;
                background-color: $black;
                transition: 0.5s all;
                &:last-child {
                    margin: 0;
                }
            }
            &_active {
                span {
                    margin-bottom: -2px;
                    background-color: #fff;
                    &:nth-child(1) {
                        transform: translateY(11px) rotate(-45deg)
                    }
                    &:nth-child(2) {
                        display: none
                    }
                    &:nth-child(3) {
                        transform: translateY(11px) rotate(45deg)
                    }
                }
            }
        }
    }
    .promo {
        position: relative;
        padding: 10% 0 20% 0;
        background: url(../img/promo_bg.jpg) center (center/cover) no-repeat;
        &__header {
            position: relative;
            @include h1;
            z-index: 2;
        }
        &__text {
            position: relative;
            width: 55%;
            color: $gray;
            font-size: 24px;
            font-weight: 400;
            z-index: 2;
            @media (max-width: 634px) {
                width: 100%;
            }
        }
        &__button {
            display: block;
            margin-top: 43px;
            @media (max-width: 445px) {
                margin: 0 auto;
                margin-top: 43px;
            }
        }
        &__big-dots {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            mix-blend-mode: screen;
            z-index: 1;
        }
        &__horizontal-dots {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            @media (max-width: 890px) {
                display: none;
            }
        }
    }
}