.multimedia {
    padding: 80px 0 20% 0;
    max-height: 870px;
    background-color: #ffffff;
    overflow: hidden;
    &__title {
        @include h2;
        position: relative;
        z-index: 2;
    }
    &__divider {
        margin-top: 20px;
    }
    &__text {
        margin-top: 5.2%;
        width: 60%;
        font-weight: 400;
        @include adaptiv-font(24, 18);
        line-height: 150%;
        position: relative;
        z-index: 2;
        z-index: 2;
        @media (max-width: 890px) {
            width: 50%;
        }
        @media (max-width: 790px) {
            width: 90%;
        }
    }
    &__more {
        margin-top: 16px;
        font-weight: 400;
        @include adaptiv-font(24, 18);
        position: relative;
        z-index: 2;
        @media (max-width: 890px) {
            width: 50%;
        }
        @media (max-width: 790px) {
            width: 90%;
        }
        a {
            &:hover {
                color: $main-color;
            }
        }
    }
    &__img {
        display: block;
        position: absolute;
        max-height: 695px;
        top: 0;
        right: 0;
        z-index: 1;
        @media (max-width: 1135px) {
            opacity: 0.1;
        }
    }
}